$color1: #1B7FFB;
$color2: #C22E14;

* {
    box-sizing: border-box;
}
img { }

header {
    width:100%;
    margin-bottom: 100px;
    .navbar {
        height: 2vh;
    }
}

.logo {
    width: 10vw;
}
