$blue: #1B7FFB;
$red: #C22E14;

* {
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
}
.header {
    padding: 3vh;
    border-bottom: 2px solid $red;
    background-color: white;
    box-shadow: 0px 2px 5px gray;
}
.logo {
    width: 25vh;
}
.cartButton {
    background-color: $blue;
    div {
        color: white;
        width: 50%;
    }
    .badge {
        color: white;
        background-color: transparent;
    }
    &:hover {
        background-color: $red;
    }
}
.searchBar {
    margin: 8px 0 0 0;
}
.sock-panel {
    padding-top: 0;
    padding-bottom: 0;
    img {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    p {
        margin: 0;
        padding: 10px 0;
    }
}
#socksContainer {
    background-color: #f5f5f1;
}
#teamLogo {
    width: 10vw;
}
footer {
    background-color: white;
    padding: 3vh;
    border-top: 2px solid $red;
    box-shadow: 0px -2px 5px gray;
}
#cart-confirmation {
    display: inline-block;
    font-size: 13px;
    .justify-right {
        text-align: right;
    }
}
.pushDown {
    margin-top: 15px;
}
