<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag *webpack_asset_paths('application', extension: 'js') %>
  <%= stylesheet_link_tag *webpack_asset_paths('application', extension: 'css') %>
</head>
<body>
  <!-- Empty div with an id -->
</body>
</html>
